<style>


#nothing {}
{
  
}

header {
  font-size: 30px;
  font-family: arial;
 
}

#js-doc {
  margin-top: -40px;
  margin-bottom: 30px;
}

.main-section {
  font-family: calibri;
  padding-left: 40px;
  padding-top: 50px;
}

tab1 {
  padding-left: 10px;
}

tab2 {
  padding-left: 20px;
}

tab3 {
  padding-left: 30px;
}

tab4 {
  padding-left: 40px;
}

blockquote {
  background-color:#F7F7F7;
  padding:10px;
  margin-left: 20px;
}

#navbar {
  position: fixed;
}

@media screen and (min-height: 900px) {
  
  #navbar {
  display:flex;
  flex-direction: column;
  border-style: thin;
  height: 100%; 
  width: 200px; 
  margin-left:0px;
  padding-top: 100px; 
  border-right: 1px solid grey;
  padding-right: 15px;
 

}
  
   .nav-link {
      width: 215px;
      font-family: calibri;
      text-decoration: none;
      color: black;
      border-top: 1px solid black;
      border-top: 1px solid black;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      margin-left: -10px;
      margin-top: -20px;
     
  }
  


#main-doc {
  padding-left: 200px;
  }
  
}



@media screen and (max-height: 900px) {
  
  #navbar {
  display:flex;
  flex-direction: column;
  border-style: thin;
  height: 100%; 
  width: 100px; 
  margin-left:0px;
  padding-top: 100px; 
  border-right: 1px solid grey;
  padding-right: 15px;
 

}
  
   .nav-link {
      font: serif;
     font-size: 12px;
      width: 115px;
      font-family: calibri;
      text-decoration: none;
      color: black;
      border-top: 1px solid black;
      border-top: 1px solid black;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      margin-left: -10px;
      margin-top: -20px;
     
  }
  
#js-doc {
  margin-top: -40px;
  margin-bottom: 30px;
  font-size: 100%;
  font-weight: bold;
  margin-left: -5px;
}

#main-doc {
  padding-left: 200px;
  }
  
}
  



</style>